{% extends "@Front/layouts/front.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block head_add %}
    <script>
        $( document ).ready(function(){
            setTimeout(function(){ document.location.href="{{ path('front.accueil') }}" }, 1500);
        });
    </script>
{% endblock %}

{% block main %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock main %}
