{% extends "@Front/layouts/front.html.twig" %}

{% block head_add %}
    <style>
        form{
            text-align: center;
        }
        form  #fos_user_registration_form input{
            display: block;
            margin: auto;
            border-radius: 5px;
            border: 1px solid #AAA;
            padding: 5px;
        }
        form  #fos_user_registration_form > div{
            margin-bottom: 20px;
        }
        input#username, input#password{
            margin-bottom: 20px;
        }
        form input[type="submit"]{
            margin-top: 20px;
            padding: 10px 65px;
            border-radius: 5px;
            border: 1px solid #40df70;
            background-color: #40df70;
        }
        form input[type="submit"]:hover{
            background-color: #1F6B36;
        }
    </style>
{% endblock %}

{% block main %}
    {% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock main %}
