{% extends "@Front/layouts/front.html.twig" %}

{% block head_add %}
    <style>
        form{
            text-align: center;
        }
        form > input{
            display: block;
            margin: auto;
            border-radius: 5px;
            border: 1px solid #AAA;
            padding: 5px;
        }
        input#username, input#password{
            margin-bottom: 20px;
        }
        input#_submit{
            margin-top: 20px;
            padding: 10px 65px;
            border-radius: 5px;
            border: 1px solid #40df70;
            background-color: #40df70;
        }
        input#_submit:hover{
            background-color: #1F6B36;
        }
    </style>
{% endblock %}

{% block main %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock main %}
