<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" lang="en-US" itemscope itemtype="http://schema.org/WebPage"  class="touch-styles">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="">
    <meta charset="utf-8" />
    <title>{% block title %}I Need an Answer{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="canonical" href="https://www.i-need-an-answer.com/"/>
    <meta property="og:site_name" content="I Need an Answer"/>
    <meta property="og:title" content="Home"/>
    <meta property="og:url" content="https://www.i-need-an-answer.com/"/>
    <meta property="og:type" content="website"/>
    <meta itemprop="name" content="Home"/>
    <meta itemprop="url" content="https://www.i-need-an-answer.com/"/>
    <meta name="twitter:title" content="Home"/>
    <meta name="twitter:url" content="https://www.i-need-an-answer.com/"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="description" content="{% block description %}Description{% endblock %}" />
    <script type="text/javascript" src="https://use.typekit.net/ik/VFLfH9_Xpnuaut6xrVrDVwJ3myuUpz5IHL7B8FBAZgGfezjgfFHN4UJLFRbh52jhWDmyFRgqZRSkZR8yFRB8Z2IuZQqkwcBcws7sMPG0ZhBkpPuyjcNujAj0SaBujW48Sagyjh90jhNlOeiyS1qljA4ziABcO1FUiABkZWF3jAF8OcFzdPUTOAo8ZAbljAtljAoDihmkOcFzdPUCdhFydeyzSabCiaiaOciyS1qljA4ziABcO1FUiABkZWF3jAF8OcFzdPUaiaS0-Pu0ZAmqOAB0OAB0Sai8SKoRdhXKfeBCZAikZW8yH6qJ11GbMg6IJMJ7fbKipyMMeMS6MKG4f4lEIMMj2KMfH6qJ1YGbMg6sJMHbMdLnnNbB.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:400|Roboto+Mono:400,500,700,700i,500i"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script type="text/javascript">SQUARESPACE_ROLLUPS = {};</script>
    <script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["https://static.squarespace.com/universal/scripts-compressed/common-a872a55e32997f76a208-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common');</script>
    <script crossorigin="anonymous" src="https://static.squarespace.com/universal/scripts-compressed/common-a872a55e32997f76a208-min.en-US.js" ></script><script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["https://static.squarespace.com/universal/scripts-compressed/commerce-753cb797426d4b32ef48-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-commerce');</script>
    <script crossorigin="anonymous" src="https://static.squarespace.com/universal/scripts-compressed/commerce-753cb797426d4b32ef48-min.en-US.js" ></script><script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].css = ["https://static.squarespace.com/universal/styles-compressed/commerce-e573fdccbc01296611f590868498e01b-min.css"]; })(SQUARESPACE_ROLLUPS, 'squarespace-commerce');</script>
    <link rel="stylesheet" type="text/css" href="https://static.squarespace.com/universal/styles-compressed/commerce-e573fdccbc01296611f590868498e01b-min.css"/><script data-name="static-context">Static = window.Static || {}; Static.SQUARESPACE_CONTEXT = {"facebookAppId":"314192535267336","rollups":{"squarespace-announcement-bar":{"css":"https://static.squarespace.com/universal/styles-compressed/announcement-bar-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/announcement-bar-b771efbbfffdfb58ba0f-min.en-US.js"},"squarespace-audio-player":{"css":"https://static.squarespace.com/universal/styles-compressed/audio-player-e1b486594965430889af24c93ffeb509-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/audio-player-3654a026b123716be646-min.en-US.js"},"squarespace-blog-collection-list":{"css":"https://static.squarespace.com/universal/styles-compressed/blog-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/blog-collection-list-b82dc45d7d32f9f9e70f-min.en-US.js"},"squarespace-calendar-block-renderer":{"css":"https://static.squarespace.com/universal/styles-compressed/calendar-block-renderer-bba726056d2134131ce9d3077c28adbe-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/calendar-block-renderer-7cf05c87fe390f8c500d-min.en-US.js"},"squarespace-chartjs-helpers":{"css":"https://static.squarespace.com/universal/styles-compressed/chartjs-helpers-9935a41d63cf08ca108505d288c1712e-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/chartjs-helpers-8b88152399b21a75268a-min.en-US.js"},"squarespace-comments":{"css":"https://static.squarespace.com/universal/styles-compressed/comments-fd2f389570c2a57065011600abb62cf3-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/comments-8c6b78ce46e03f5057d4-min.en-US.js"},"squarespace-dialog":{"css":"https://static.squarespace.com/universal/styles-compressed/dialog-2e732c7e5b76c9e7ee7862549def0900-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/dialog-99fd4c79ce4e45378f9e-min.en-US.js"},"squarespace-events-collection":{"css":"https://static.squarespace.com/universal/styles-compressed/events-collection-bba726056d2134131ce9d3077c28adbe-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/events-collection-def62d9cfe25e09c36a6-min.en-US.js"},"squarespace-form-rendering-utils":{"js":"https://static.squarespace.com/universal/scripts-compressed/form-rendering-utils-c5e8db4b5aa049f2e039-min.en-US.js"},"squarespace-forms":{"css":"https://static.squarespace.com/universal/styles-compressed/forms-4af1b5b3c288ba939ea861fe2d37119a-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/forms-2dfab8aaaf6cfb8e4b2f-min.en-US.js"},"squarespace-gallery-collection-list":{"css":"https://static.squarespace.com/universal/styles-compressed/gallery-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/gallery-collection-list-7d5b7a0e4aa0f579a0a4-min.en-US.js"},"squarespace-image-zoom":{"css":"https://static.squarespace.com/universal/styles-compressed/image-zoom-ae974921915aeccaff8ad60c60e19c31-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/image-zoom-682d3a5a50c35311bbe9-min.en-US.js"},"squarespace-pinterest":{"css":"https://static.squarespace.com/universal/styles-compressed/pinterest-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/pinterest-769f9398b3dbcf0cb5cc-min.en-US.js"},"squarespace-popup-overlay":{"css":"https://static.squarespace.com/universal/styles-compressed/popup-overlay-fdcf92196a4aebc72317a5c5f60f0289-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/popup-overlay-e678a436a0cada64c6af-min.en-US.js"},"squarespace-product-quick-view":{"css":"https://static.squarespace.com/universal/styles-compressed/product-quick-view-9abaaa4dfff182aa8d4ccf3b6ffdbe8d-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/product-quick-view-312a89e7230e32612fe2-min.en-US.js"},"squarespace-products-collection-item-v2":{"css":"https://static.squarespace.com/universal/styles-compressed/products-collection-item-v2-ae974921915aeccaff8ad60c60e19c31-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/products-collection-item-v2-3714ee48f64923219c29-min.en-US.js"},"squarespace-products-collection-list-v2":{"css":"https://static.squarespace.com/universal/styles-compressed/products-collection-list-v2-ae974921915aeccaff8ad60c60e19c31-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/products-collection-list-v2-28dc76816ebcd57332b6-min.en-US.js"},"squarespace-search-page":{"css":"https://static.squarespace.com/universal/styles-compressed/search-page-9c747eeaabe96dacfea4932a63336f54-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/search-page-569ac407b60f15b62159-min.en-US.js"},"squarespace-search-preview":{"js":"https://static.squarespace.com/universal/scripts-compressed/search-preview-b2391bcf321d70e0e167-min.en-US.js"},"squarespace-share-buttons":{"js":"https://static.squarespace.com/universal/scripts-compressed/share-buttons-b72817484ffe356b8834-min.en-US.js"},"squarespace-simple-liking":{"css":"https://static.squarespace.com/universal/styles-compressed/simple-liking-09fa291ec2800c97714f0d157fd0a6ca-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/simple-liking-7eb88abbdc44aa8198f6-min.en-US.js"},"squarespace-social-buttons":{"css":"https://static.squarespace.com/universal/styles-compressed/social-buttons-7a696232d1cd101fd62b5f174f9ae6ff-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/social-buttons-278c23778b1957e08a3b-min.en-US.js"},"squarespace-tourdates":{"css":"https://static.squarespace.com/universal/styles-compressed/tourdates-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/tourdates-3ad56a777cdbcf6a5772-min.en-US.js"},"squarespace-website-overlays-manager":{"css":"https://static.squarespace.com/universal/styles-compressed/website-overlays-manager-d1b0ace5f5af772d643f5a6ce0056946-min.css","js":"https://static.squarespace.com/universal/scripts-compressed/website-overlays-manager-0f84fae82fd4e665cb76-min.en-US.js"}},"pageType":2,"website":{"id":"5a60df72f9a61ed15e922af1","identifier":"gary-abouaf","websiteType":1,"contentModifiedOn":1519230593877,"cloneable":false,"siteStatus":{},"language":"en-US","timeZone":"Europe/London","machineTimeZoneOffset":0,"timeZoneOffset":0,"timeZoneAbbr":"GMT","siteTitle":"I Need an Answer","siteTagLine":"","siteDescription":"","shareButtonOptions":{"5":true,"8":true,"7":true,"3":true,"1":true,"6":true,"4":true},"authenticUrl":"https://www.i-need-an-answer.com","internalUrl":"https://gary-abouaf.squarespace.com","baseUrl":"https://www.i-need-an-answer.com","primaryDomain":"www.i-need-an-answer.com","sslSetting":3,"isHstsEnabled":true,"typekitId":"","statsMigrated":false,"imageMetadataProcessingEnabled":false},"websiteSettings":{"id":"5a60df72f9a61ed15e922af4","websiteId":"5a60df72f9a61ed15e922af1","subjects":[],"country":"GB","state":"ENG","simpleLikingEnabled":true,"mobileInfoBarSettings":{"style":1,"isContactEmailEnabled":false,"isContactPhoneNumberEnabled":false,"isLocationEnabled":false,"isBusinessHoursEnabled":false},"commentLikesAllowed":true,"commentAnonAllowed":true,"commentThreaded":true,"commentApprovalRequired":false,"commentAvatarsOn":true,"commentSortType":2,"commentFlagThreshold":0,"commentFlagsAllowed":true,"commentEnableByDefault":true,"commentDisableAfterDaysDefault":0,"disqusShortname":"","commentsEnabled":false,"storeSettings":{"returnPolicy":null,"termsOfService":null,"privacyPolicy":null,"paymentSettings":{},"expressCheckout":false,"continueShoppingLinkUrl":"/","useLightCart":false,"showNoteField":false,"shippingCountryDefaultValue":"US","billToShippingDefaultValue":false,"showShippingPhoneNumber":true,"isShippingPhoneRequired":false,"showBillingPhoneNumber":true,"isBillingPhoneRequired":false,"multipleQuantityAllowedForServices":true,"currenciesSupported":["CHF","HKD","MXN","EUR","DKK","USD","CAD","MYR","NOK","THB","AUD","SGD","ILS","PLN","GBP","CZK","SEK","NZD","PHP","RUB"],"defaultCurrency":"USD","selectedCurrency":"USD","measurementStandard":1,"showCustomCheckoutForm":false,"enableMailingListOptInByDefault":false,"sameAsRetailLocation":false,"isLive":false},"useEscapeKeyToLogin":true,"ssBadgeType":1,"ssBadgePosition":4,"ssBadgeVisibility":1,"ssBadgeDevices":1,"pinterestOverlayOptions":{"mode":"disabled"},"ampEnabled":false},"cookieSettings":{"isRestrictiveCookiePolicyEnabled":false},"websiteCloneable":false,"collection":{"title":"Home","id":"5a6b1df5085229f51de093b6","fullUrl":"/","type":10},"subscribed":false,"appDomain":"squarespace.com","templateTweakable":true,"tweakJSON":{"aspect-ratio":"Auto","gallery-arrow-style":"No Background","gallery-aspect-ratio":"3:2 Standard","gallery-auto-crop":"true","gallery-autoplay":"false","gallery-design":"Slideshow","gallery-info-overlay":"Show on Hover","gallery-loop":"false","gallery-navigation":"Bullets","gallery-show-arrows":"true","gallery-transitions":"Fade","galleryArrowBackground":"rgba(34,34,34,1)","galleryArrowColor":"rgba(255,255,255,1)","galleryAutoplaySpeed":"3","galleryCircleColor":"rgba(255,255,255,1)","galleryInfoBackground":"rgba(0, 0, 0, .7)","galleryThumbnailSize":"100px","gridSize":"350px","gridSpacing":"20px","maxNumberColumns":"3","minColumnWidth":"300","tweak-blog-list-grid-alignment":"Top","tweak-blog-list-grid-narrow-columns":"false","tweak-blog-list-max-width":"Wide","tweak-crop-images":"None","tweak-infinite-scroll":"false","tweak-product-item-image-zoom-factor":"2.5","tweak-product-list-item-hover-behavior":"Show Alternate Image","tweak-product-list-items-per-row":"4","tweak-show-progress-indicator":"false","tweak-user-account-link-position":"With Nav"},"templateId":"54d3906fe4b04c1c9981b00e","pageFeatures":[1,2,4],"impersonatedSession":false,"demoCollections":[{"collectionId":"576aea2f6b8f5bbb9737ec0a","deleted":true},{"collectionId":"576aea3dff7c50818ea3d02e","deleted":true},{"collectionId":"576c055c5016e1c124385897","deleted":true},{"collectionId":"576c06e1414fb5f6a4c1024a","deleted":true},{"collectionId":"576c0703414fb5f6a4c10422","deleted":true},{"collectionId":"576c5ee0d1758ee67ecda511","deleted":true},{"collectionId":"576d9a2d2e69cffdc78c751d","deleted":true},{"collectionId":"579120a6c534a5623828796b","deleted":false},{"collectionId":"58178adec534a576aa3f95c1","deleted":true},{"collectionId":"59123b84f5e231d88c85409c","deleted":true}],"isFacebookTab":false,"tzData":{"zones":[[0,"EU","GMT/BST",null]],"rules":{"EU":[[1981,"max",null,"Mar","lastSun","1:00u","1:00","S"],[1996,"max",null,"Oct","lastSun","1:00u","0",null]]}},"useNewImageLoader":true};</script><script type="text/javascript"> SquarespaceFonts.loadViaContext(); Squarespace.load(window);</script><script type="application/ld+json">{"url":"https://www.i-need-an-answer.com","name":"I Need an Answer","description":"","@context":"http://schema.org","@type":"WebSite"}</script><!--[if gte IE 9]> <link rel="stylesheet" type="text/css" href="https://static1.squarespace.com/static/sitecss/5a60df72f9a61ed15e922af1/13/54d3906fe4b04c1c9981b00e/5a60df72f9a61ed15e922b06/4926-05142015/1519225635643/site.css?&filterFeatures=false&part=1"/><link rel="stylesheet" type="text/css" href="https://static1.squarespace.com/static/sitecss/5a60df72f9a61ed15e922af1/13/54d3906fe4b04c1c9981b00e/5a60df72f9a61ed15e922b06/4926-05142015/1519225635643/site.css?&filterFeatures=false&part=2"/><link rel="stylesheet" type="text/css" href="https://static1.squarespace.com/static/sitecss/5a60df72f9a61ed15e922af1/13/54d3906fe4b04c1c9981b00e/5a60df72f9a61ed15e922b06/4926-05142015/1519225635643/site.css?&filterFeatures=false&part=3"/><link rel="stylesheet" type="text/css" href="https://static1.squarespace.com/static/sitecss/5a60df72f9a61ed15e922af1/13/54d3906fe4b04c1c9981b00e/5a60df72f9a61ed15e922b06/4926-05142015/1519225635643/site.css?&filterFeatures=false&part=4"/><![endif]-->
    <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="https://static1.squarespace.com/static/sitecss/5a60df72f9a61ed15e922af1/13/54d3906fe4b04c1c9981b00e/5a60df72f9a61ed15e922b06/4926-05142015/1519225635643/site.css?&filterFeatures=false&noMedia=true&part=1"/><link rel="stylesheet" type="text/css" href="https://static1.squarespace.com/static/sitecss/5a60df72f9a61ed15e922af1/13/54d3906fe4b04c1c9981b00e/5a60df72f9a61ed15e922b06/4926-05142015/1519225635643/site.css?&filterFeatures=false&noMedia=true&part=2"/><link rel="stylesheet" type="text/css" href="https://static1.squarespace.com/static/sitecss/5a60df72f9a61ed15e922af1/13/54d3906fe4b04c1c9981b00e/5a60df72f9a61ed15e922b06/4926-05142015/1519225635643/site.css?&filterFeatures=false&noMedia=true&part=3"/><link rel="stylesheet" type="text/css" href="https://static1.squarespace.com/static/sitecss/5a60df72f9a61ed15e922af1/13/54d3906fe4b04c1c9981b00e/5a60df72f9a61ed15e922b06/4926-05142015/1519225635643/site.css?&filterFeatures=false&noMedia=true&part=4"/><![endif]-->
    <!--[if !IE]> --><link rel="stylesheet" type="text/css" href="https://static1.squarespace.com/static/sitecss/5a60df72f9a61ed15e922af1/13/54d3906fe4b04c1c9981b00e/5a60df72f9a61ed15e922b06/4926-05142015/1519225635643/site.css?&filterFeatures=false"/><!-- <![endif]-->
    <script>
        (function(){
            var touchTest = 'ontouchstart' in window || navigator.msMaxTouchPoints;
            if (!touchTest) {
                document.documentElement.className = document.documentElement.className.replace(/touch\-styles/g, '');
            }
        })();</script>
    <style>
        .svg-inline--fa.fa-w-16, .svg-inline--fa.fa-w-14, .svg-inline--fa.fa-w-12{
            width: 26px !important;
            height: 26px !important;
        }
        .sign-in, .sign-up{
            display: inline-block;
            width: 55px;
            height: 15px;
            padding-left: 15px;
            vertical-align: middle;
            line-height: 15px;
            font-size: 15px;
            border-left: 1px solid #EEE;
            margin-left: 23px;
        }
        @media screen and (min-width: 769px) and (max-width: 866px) {
            .header-special.flex-item{
                min-width: 275px;
            }
            .sign-in, .sign-up{
                padding-left: 0;
            }
            .sign-up{
                margin-left: 10px;
            }
            .sign-in{
                margin-left: 15px;
            }
        }
        @media screen and (min-width: 320px) and (max-width: 768px) {
            .sign-in, .sign-up{
                padding-left: 0;
                margin-left: 15px;
            }
        }
    </style>
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    {% block head_add %}{% endblock %}
</head>
<body id="collection-5a6b1df5085229f51de093b6" class="tweak-header-background-color-on tweak-main-blocks-full-bleed  tweak-ui-icon-weight-medium tweak-navigation-link-spacing-medium tweak-hide-right-nav-column tweak-site-branding-borders-none tweak-show-site-tagline tweak-site-branding-layout-inline tweak-show-search-in-header tweak-show-social-in-header tweak-user-account-link-position-with-nav tweak-quote-block-alignment-center tweak-blog-list-grid-alignment-top tweak-blog-list-max-width-wide  tweak-crop-images-none   tweak-show-excerpt-on-blog-list   tweak-blog-text-alignment-left tweak-blog-promoted-meta-categories tweak-blog-date-style-above-title tweak-blog-show-divider tweak-show-blog-item-banner-image tweak-blog-item-banner-image-width-normal tweak-show-blog-item-sidebar tweak-show-blog-item-author-profile-in-sidebar  tweak-template-social-icon-style-regular  hide-album-share-link   event-thumbnails event-thumbnail-size-32-standard event-date-label  event-list-show-cats event-list-date event-list-time event-list-address     event-excerpts  event-item-back-link    gallery-design-slideshow aspect-ratio-auto lightbox-style-dark gallery-navigation-bullets gallery-info-overlay-show-on-hover gallery-aspect-ratio-32-standard gallery-arrow-style-no-background gallery-transitions-fade gallery-show-arrows gallery-auto-crop   tweak-product-list-image-aspect-ratio-11-square tweak-product-list-item-hover-behavior-show-alternate-image tweak-product-list-meta-position-overlay tweak-product-list-mobile-meta-position-under tweak-product-list-meta-alignment-under-left tweak-product-list-meta-alignment-overlay-center-center tweak-product-list-show-title tweak-product-list-show-price tweak-product-list-filter-display-hide tweak-product-list-filter-alignment-left tweak-product-item-nav-show-breadcrumb-and-pagination tweak-product-item-nav-pagination-style-previousnext tweak-product-item-nav-breadcrumb-alignment-left tweak-product-item-nav-pagination-alignment-split tweak-product-item-gallery-position-left tweak-product-item-gallery-design-slideshow tweak-product-item-gallery-aspect-ratio-11-square tweak-product-item-gallery-thumbnail-alignment-left tweak-product-item-details-alignment-left tweak-product-item-details-show-title tweak-product-item-details-show-price tweak-product-item-details-show-excerpt tweak-product-item-details-excerpt-position-below-price tweak-product-item-details-show-share-buttons tweak-product-item-details-show-variants tweak-product-item-details-show-quantity tweak-product-item-details-options-style-square tweak-product-item-details-show-add-to-cart-button tweak-product-item-details-add-to-cart-button-style-solid tweak-product-item-details-add-to-cart-button-shape-square tweak-product-item-details-add-to-cart-button-padding-medium tweak-product-item-image-zoom-enabled tweak-product-item-image-zoom-behavior-click tweak-product-item-lightbox-enabled tweak-product-badge-style-circle tweak-product-badge-position-top-right tweak-product-badge-inset-floating newsletter-style-dark hide-opentable-icons opentable-style-dark small-button-style-raised small-button-shape-rounded medium-button-style-raised medium-button-shape-rounded large-button-style-outline large-button-shape-rounded image-block-poster-text-alignment-center image-block-card-dynamic-font-sizing image-block-card-content-position-center image-block-card-text-alignment-left image-block-overlap-dynamic-font-sizing image-block-overlap-content-position-center image-block-overlap-text-alignment-left image-block-collage-dynamic-font-sizing image-block-collage-content-position-center image-block-collage-text-alignment-opposite image-block-stack-dynamic-font-sizing image-block-stack-text-alignment-left button-style-solid button-corner-style-rounded tweak-product-quick-view-button-style-floating tweak-product-quick-view-button-position-bottom tweak-product-quick-view-lightbox-excerpt-display-truncate tweak-product-quick-view-lightbox-show-arrows tweak-product-quick-view-lightbox-show-close-button tweak-product-quick-view-lightbox-controls-weight-light tweak-share-buttons-style-solid tweak-share-buttons-icons-show tweak-share-buttons-labels-show native-currency-code-usd collection-5a6b1df5085229f51de093b6 collection-type-page collection-layout-default homepage mobile-style-available" data-controller="SyncHeader, AddScrollingClass, HeaderScroll, BodyMinHeight">
    <div class="nav-close-overlay">

    </div>
    <div class="nav-close-toggle-wrapper" id="navCloseToggleWrapper">
        <a class="nav-toggle-close-label responsive-position--left" id="navCloseToggle" data-controller="NavToggle">
            <i class="fas fa-times close-icon"></i>
        </a>
    </div>
    <div id="sideTrayWrapper" class="sidetray-wrapper">
        <div class="main-nav-wrapper responsive-padding--top responsive-padding--bottom" data-controller="NavOverflow">
            <div class="nav-blocks-wrapper">
                <nav id="mainNavigation" class="main-navigation" role="navigation" data-content-field="navigation">
                    <div class="nav-link--collection nav-link--active nav-link--homepage" id="id-5a6b1df5085229f51de093b6">
                        <a href="/">
                            <span>Home</span>
                        </a>
                    </div>
                    <div class="nav-link--collection" id="id-5a748c3008522935754a3c2f">
                        <a href="{{ path('front.about') }}">
                            <span>About Us</span>
                        </a>
                    </div>
                    <div class="nav-link--collection" id="id-5a748cad71c10b650e114352">
                        <a href="{{ path('front.why') }}">
                            <span>Why us?</span>
                        </a>
                    </div>
                    <div class="nav-link--collection" id="id-5a748d9dc8302552ab8e6540">
                        <a href="{{ path('front.how') }}">
                            <span>How it works</span>
                        </a>
                    </div>
                    <div class="nav-link--collection" id="id-5a71949e53450aa858906827">
                        <a href="/testimonials/">
                            <span>Testimonials</span>
                        </a>
                    </div>
                </nav>
                <div class="sqs-layout sqs-grid-1 columns-1" data-layout-label="Nav Blocks" data-type="block-field" data-updated-on="1516903946743" id="navBlocks"><div class="row sqs-row"><div class="col sqs-col-1 span-1"><div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_21_1495136905525_29047"><div class="sqs-block-content"><hr /></div></div></div></div></div>
            </div>
        </div>
        <div class="sidetray-blocks responsive-padding--top responsive-padding--bottom" data-controller="SidetrayBlocksOverflow">
            <div class="sidetray-blocks-wrapper">
                <div class="sqs-layout sqs-grid-1 columns-1 empty" data-layout-label="Sidetray Blocks" data-type="block-field" data-updated-on="1466607518610" id="sideTrayBlocks"><div class="row sqs-row"><div class="col sqs-col-1 span-1"></div></div></div>
            </div>
        </div>
    </div>

    <form class="header-search-form" id="headerSearch" action="/search" method="get">
        <input class="header-search-form-input" name="q" placeholder="Search" type="text" spellcheck="false" value="" autocomplete="off">
    </form>

    <div id="site" class="site-container clearfix">
        <div class="sqs-announcement-bar-dropzone header-announcement-wrapper responsive-padding--left responsive-padding--right" id="headerAnnouncementWrapper">
            <header id="header" class="site-header loading" role="banner">
                <a class="nav-toggle-label flex-item" id="navToggle" data-controller="NavToggle">
                    <i class="fas fa-bars nav-toggle-label-icon"></i>
                </a>
                <div class="logo-wrapper flex-item">
                    <div class="site-title branding" data-content-field="site-title"><a href="{{ path('front.accueil') }}"><span class="site-title-text">I Need an Answer</span></a></div>
                </div>
                <div class="header-special flex-item">
                    <div class="social-search-wrapper cart-visible">
                        <a href="/search" rel="search" class="header-search" data-controller="SearchToggle">
                            <i class="fas fa-search search-icon"></i>
                            <i class="fas fa-times search-close-icon"></i>
                        </a>
                    </div>
                    <a href="{{ path('front.cart') }}" class="sqs-custom-cart custom-cart">
                        <div class="custom-cart-bag">
                            <i class="fas fa-shopping-bag custom-cart-bag-icon"></i>
                            <span class="sqs-cart-quantity">0</span>
                        </div>
                    </a>

                    {% if is_granted('ROLE_USER') %}
                        <div class="sign-in">
                            <a href="{{ path('fos_user_security_logout') }}">Sign Out</a>
                        </div>
                    {% else %}
                        <div class="sign-in">
                            <a href="{{ path('fos_user_security_login') }}">Sign In</a>
                        </div>
                        <div class="sign-up">
                            <a href="{{ path('fos_user_registration_register') }}">Sign Up</a>
                        </div>
                    {% endif %}
                </div>
            </header>
        </div>

        <main id="page" class="site-page loading responsive-padding--left responsive-padding--right site-page--page" role="main" data-content-field="main-content" data-controller="FadeInContent">
            {% block main %}{% endblock %}
        </main>
        <footer id="footer" class="site-footer responsive-margin--top responsive-padding--left responsive-padding--right responsive-padding--top responsive-padding--bottom" role="contentinfo">
            <div class="sqs-layout sqs-grid-12 columns-12 empty" data-layout-label="Footer Content" data-type="block-field" data-updated-on="1519124554252" id="footerBlocks"><div class="row sqs-row"><div class="col sqs-col-12 span-12"></div></div></div>
            <div id="footerNavWrapper" class="nav-wrapper footer-nav">
                <nav id="mainNavigation" class="main-navigation" role="navigation" data-content-field="navigation">
                    <div class="nav-link--collection" id="id-5a6b1a57085229f51de01b93">
                        <a href="/terms-and-conditions/">
                            <span>Terms and Conditions</span>
                        </a>
                    </div>
                    <div class="nav-link--collection" id="id-5a6a17a08165f5e6c9411185">
                        <a href="/privacy/">
                            <span>Privacy Policy</span>
                        </a>
                    </div>
                    <div class="nav-link--collection" id="id-5a6b128453450a6db0ea22cf">
                        <a href="/contact-page/">
                            <span>Contact Us</span>
                        </a>
                    </div>
                </nav>
            </div>
        </footer>
    </div>
    <div id="mobileBar" class="mobile-bar mobile-bar--has-cart" data-controller="MobileOffset">
        <a class="nav-toggle-label nav-toggle-label--mobile flex-item" id="navToggleMobile" data-controller="NavToggle">
            <i class="fas fa-bars nav-toggle-label-icon"></i>
        </a>
        <div class="search-cart--mobile flex-item">
            <a href="/search" rel="search" class="header-search header-search--mobile" data-controller="SearchToggle">
                <i class="fas fa-search search-icon"></i>
                <i class="fas fa-times search-close-icon"></i>
            </a>

            <a href="/cart" class="sqs-custom-cart custom-cart mobile-cart">
                <div class="custom-cart-bag">
                    <i class="fas fa-shopping-bag custom-cart-bag-icon"></i>
                    <span class="sqs-cart-quantity">0</span>
                </div>
            </a>

            {% if is_granted('ROLE_USER') %}
                <div class="sign-in">
                    <a href="{{ path('fos_user_security_logout') }}">Sign Out</a>
                </div>
            {% else %}
                <div class="sign-in">
                    <a href="{{ path('fos_user_security_login') }}">Sign In</a>
                </div>
                <div class="sign-up">
                    <a href="{{ path('fos_user_registration_register') }}">Sign Up</a>
                </div>
            {% endif %}
        </div>
    </div>
    <script src="https://static1.squarespace.com/static/ta/54d39057e4b01a0da310c80f/4926/scripts/site-bundle.js" type="text/javascript"></script>
    <script type="text/javascript" data-sqs-type="imageloader-bootstraper">(function() {if(window.ImageLoader) { window.ImageLoader.bootstrap({}, document); }})();</script><script>Squarespace.afterBodyLoad(Y);</script>
    {% block bottom_scripts %}{% endblock %}
</body>
</html>