{% extends "@Front/layouts/front.html.twig" %}

{% block main %}
    <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1517587605016" id="page-5a748c3008522935754a3c2f">
        <div class="row sqs-row">
            <div class="col sqs-col-0 span-0"></div>
            <div class="col sqs-col-12 span-12">
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-e616cd3ecbd413df58e5">
                    <div class="sqs-block-content">
                        <h1>About us</h1>
                        <p>“I need an answer” officially launched two years ago, when we became aware that legal advice were very expensive. Our goal is to make legal services affordable and accessible to everyone.&nbsp;</p>
                        <p>We have a team of dedicated and experienced solicitors who are ready to assist you in all of your legal situations. We are not a public forum, instead we guarantee you that you will be answered by specialists who know what they are talking about. We provide detailed and expert solutions to your issues in a very short time. Our team is available at anytime, 7 days a week. We always have online solicitors waiting for your questions.</p>
                        <p>“I need an answer” offers you a very clear legal advice and a 1-to-1 talk with our solicitor, without charging you excessive fees.&nbsp;<br>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

