{% extends "@Front/layouts/front.html.twig" %}

{% block main %}
<div id="shopping-cart-wrapper">
    <h2 class="cart-title" id="yui_3_17_2_1_1519745874160_319">Shopping Cart</h2>
    <div class="empty-message">
        You have nothing in your shopping cart.&nbsp;
        <a href="{{ app.request.headers.get('referer') }}">Continue Shopping</a>
    </div>
</div>
{% endblock %}

