{% extends "@Front/layouts/front.html.twig" %}

{% block main %}
    <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1517588163809" id="page-5a748d9dc8302552ab8e6540">
        <div class="row sqs-row">
            <div class="col sqs-col-12 span-12">
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-8728e004d0ce23d93e6f">
                    <div class="sqs-block-content">
                        <h1>How it works?</h1>
                        <h2>Your satisfaction is 100% guaranteed</h2>
                        <p>
                            We stand behind every answer on our site. If you aren’t 100% satisfied for any reason, we’ll gladly process a full refund—no questions asked.
                            <br><br>
                            <strong>Unlimited back and forth</strong>
                            <br>
                            If you want a second opinion after receiving your answer, it’s on the house.
                            <br><br>
                            <strong>Free second opinions</strong>
                            <br>
                            Keep asking questions until you get the answer you need.
                            <br><br>
                            <strong>100% money-back guarantee</strong>
                            <br>
                            If you aren’t happy for any reason, we’ll refund your money. No questions asked.
                        </p>
                        <p><br>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

