{% extends "@Front/layouts/front.html.twig" %}

{% block main %}
    <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1519135258218" id="page-5a6b1df5085229f51de093b6">
        <div class="row sqs-row">
            <div class="col sqs-col-12 span-12">
                <div class="row sqs-row">
                    <div class="col sqs-col-1 span-1">
                        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-aspect-ratio="29.333333333333332" data-block-type="21" id="block-704adf64388a757feeaa">
                            <div class="sqs-block-content">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col sqs-col-10 span-10">
                        <div class="sqs-block image-block sqs-block-image" data-aspect-ratio="35.2497643732328" data-block-type="5" id="block-62009d347f2a3cdc18ca">
                            <div class="sqs-block-content">
                                <div class="image-block-outer-wrapper image-block-v2 design-layout-poster image-position-left  image-linked" data-scrolled>
                                    <div class="intrinsic">
                                        <div style="padding-bottom:35.24976348876953%;" class="image-inset content-fill has-aspect-ratio" data-description="">
                                            <noscript><img src="https://static1.squarespace.com/static/5a60df72f9a61ed15e922af1/t/5a6b1df5085229f51de093b3/1518109448802/iStock-618454786.jpg" alt="Just ask! Your first questionfor only £1 - " /></noscript>
                                            <img data-src="https://static1.squarespace.com/static/5a60df72f9a61ed15e922af1/t/5a6b1df5085229f51de093b3/1518109448802/iStock-618454786.jpg" data-image="https://static1.squarespace.com/static/5a60df72f9a61ed15e922af1/t/5a6b1df5085229f51de093b3/1518109448802/iStock-618454786.jpg" data-image-dimensions="2119x1415" data-image-focal-point="0.5,0.5" alt="iStock-618454786.jpg"  />
                                            <div class="image-overlay"></div>
                                        </div>
                                    </div>
                                    <div class="image-card-wrapper" data-width-ratio>
                                        <div class="image-card sqs-dynamic-text-container">
                                            <div class="image-title-wrapper"><div class="image-title sqs-dynamic-text"><p>Just ask! Your first question<br />for only £1</p></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_2_1519134899357_42750">
                            <div class="sqs-block-content">
                                <h1 class="text-align-center"><em>28 lawyers are online, waiting to answer your question</em></h1>
                                <h2 class="text-align-center">Subscribe now and get unlimited answers for only £29/month.</h2>
                            </div>
                        </div>
                        <div class="row sqs-row">
                            <form method="post" action="{{ path('front.accueil') }}">
                                <div class="col sqs-col-1 span-1">
                                    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_8_1516969607305_10497">
                                        <div class="sqs-block-content">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col sqs-col-6 span-6">
                                    <div class="sqs-block search-block sqs-block-search" data-block-type="33" id="block-cf7db6e92404d24f0071">
                                        <div class="sqs-block-content">
                                            <div class="sqs-search-ui-text-input sqs-search-ui-button-wrapper color-dark" data-source="block" data-preview="false" data-collection="">
                                            <div class="spinner-wrapper"></div>
                                            <input name="search_value" type="search" class="search-input" value="" placeholder="Search"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col sqs-col-3 span-3">
                                    <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_27_1516966674925_8448"><div class="sqs-block-content">
                                            <div class="sqs-block-button-container--left" data-alignment="left" data-button-size="small">
                                                {#<a class="sqs-block-button-element--small sqs-block-button-element" >     Get your answer now     </a>#}
                                                <input class="sqs-block-button-element--small sqs-block-button-element" type="submit" value="Get your answer now">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col sqs-col-1 span-1">
                        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-24e4b999b49d80700bda">
                            <div class="sqs-block-content">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="row sqs-row">
                    <div class="col sqs-col-4 span-4">
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-5e9e77ee30953d999871">
                            <div class="sqs-block-content">
                                <h2>1. Ask a question</h2>
                                <p>Verified lawyers in every area are available to answer your question by phone or email in minutes. Lawyers can even prepare and review wills, tickets, and more on your behalf.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col sqs-col-4 span-4">
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-9a703def3e73aba1340d">
                            <div class="sqs-block-content">
                                <h2>2. Connect in minutes</h2>
                                <p>We match your question with the most qualified Expert available. You get unlimited back and forth until your question is answered to your satisfaction — guaranteed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col sqs-col-4 span-4">
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-ddbf2259ffb8867a30e3">
                            <div class="sqs-block-content">
                                <h2><em>3. Save time and money</em></h2>
                                <p>Our rates are a fraction of an in-person appointment. Best of all, you can ask questions and get answers within minutes, 24/7, without wasting time on hold or in a waiting room.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_10_1516970636058_16867">
                    <div class="sqs-block-content"><hr /></div>
                </div>
                <div>
                    <div class="sqs-block-content">
                        <h2><em>Last searches</em></h2>
                        {% for search in searches %}
                            <p>{{ search.text }} ? <span style="color:{{ search.status.color }};">{{ search.status.name }}</span></p>
                        {% endfor %}
                    </div>
                </div>
                <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_10_1516970636058_16867">
                    <div class="sqs-block-content"><hr /></div>
                </div>
                <div class="sqs-block quote-block sqs-block-quote null" data-block-type="31" id="block-yui_3_17_2_5_1517392816036_90492">
                    <div class="sqs-block-content">
                        <figure>
                            <blockquote>
                                <span>&#147;</span>“This is an excellent and very professional service. All my concerns were answered quickly. Highly recommended!” <span>&#148;</span>
                            </blockquote>
                            <figcaption class="source">&mdash; Brenda N., Manchester</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

