{% extends "@Front/layouts/front.html.twig" %}

{% block main %}
    <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1517587843083" id="page-5a748cad71c10b650e114352">
        <div class="row sqs-row">
            <div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-9ec7e8d1e92f43ec4d9f">
                    <div class="sqs-block-content">
                        <h1>Why us?</h1>
                        <p>“I need an Answer” has more than 20 legal professionals ready to answer your questions. Our team of experts is very qualified, reactive and will be available as long as you need.<br>
                            <br>Quick answer: “I Need an Answer” experts will contact you quickly and provide you with a fully customized answer.<br>
                            <br>Convenience: Our experts are available whenever you need it, 7 days a week. You do not need any appointment, just ask your question and our team will get back to you in minutes.<br>
                            <br>Confidentiality: Confidentiality is our motto. “I need an Answer” provides a confidential legal service, where all personal information are kept private. We do not require any personal details, expect your email address that our solicitor will use to keep it touch with you.&nbsp;<br>
                            <br>100% Money back guarantee: We guarantee you that all asked questions will get a full answer. Once you received your answer, you can rate the answer as well as the solicitor who helped you.&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

